name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - develop
      - feature/**

env:
  UBSAN_OPTIONS: print_stacktrace=1

jobs:
  posix:
    strategy:
      fail-fast: false
      matrix:
        config:
          - variant: "debug,release"
          - name: No capture
            variant: "leaf_debug_capture0,leaf_release_capture0"
          - name: No diagnostics
            variant: "leaf_debug_diag0,leaf_release_diag0"
          - name: Embedded
            variant: "leaf_debug_embedded,leaf_release_embedded"
          - name: Single header
            variant: "leaf_debug_single_header,leaf_release_single_header"
        platform:
          - toolset: gcc-5
            cxxstd: "11,14,1z"
            container: ubuntu:18.04
            os: ubuntu-latest
            install: g++-5
          - toolset: gcc-6
            cxxstd: "11,14,1z"
            container: ubuntu:18.04
            os: ubuntu-latest
            install: g++-6
          - toolset: gcc-7
            cxxstd: "11,14"
            container: ubuntu:18.04
            os: ubuntu-latest
          - toolset: gcc-8
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: g++-8
          - toolset: gcc-9
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
          - toolset: gcc-10
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: g++-10
          - toolset: gcc-11
            cxxstd: "11,14,17,2a"
            os: ubuntu-22.04
          - toolset: gcc-12
            cxxstd: "11,14,17,20,2b"
            os: ubuntu-22.04
            install: g++-12
          - toolset: gcc-13
            cxxstd: "11,14,17,20,2b"
            os: ubuntu-latest
            container: ubuntu:24.04
            install: g++-13
          - toolset: gcc-14
            cxxstd: "11,14,17,20,2b"
            os: ubuntu-latest
            container: ubuntu:24.04
            install: g++-14
          - toolset: gcc-15
            cxxstd: "11,14,17,20,23,2c"
            os: ubuntu-latest
            container: ubuntu:25.04
            install: g++-15
          - toolset: clang
            compiler: clang++-3.9
            cxxstd: "11,14"
            os: ubuntu-latest
            container: ubuntu:18.04
            install: clang-3.9
          - toolset: clang
            compiler: clang++-4.0
            cxxstd: "11,14"
            os: ubuntu-latest
            container: ubuntu:18.04
            install: clang-4.0
          - toolset: clang
            compiler: clang++-5.0
            cxxstd: "11,14,1z"
            os: ubuntu-latest
            container: ubuntu:18.04
            install: clang-5.0
          - toolset: clang
            compiler: clang++-6.0
            cxxstd: "11,14,17"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-6.0
          - toolset: clang
            compiler: clang++-7
            cxxstd: "11,14,17"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-7
          - toolset: clang
            compiler: clang++-8
            cxxstd: "11,14,17"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-8
          - toolset: clang
            compiler: clang++-9
            cxxstd: "11,14,17"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-9
          - toolset: clang
            compiler: clang++-10
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-10
          - toolset: clang
            compiler: clang++-11
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-11
          - toolset: clang
            compiler: clang++-12
            cxxstd: "11,14,17,20"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-12
          - toolset: clang
            compiler: clang++-13
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:22.04
            os: ubuntu-latest
            install: clang-13
          - toolset: clang
            compiler: clang++-14
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:22.04
            os: ubuntu-latest
            install: clang-14
          - toolset: clang
            compiler: clang++-15
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:22.04
            os: ubuntu-latest
            install: clang-15
          - toolset: clang
            compiler: clang++-16
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:24.04
            os: ubuntu-latest
            install: clang-16
          - toolset: clang
            compiler: clang++-17
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:24.04
            os: ubuntu-latest
            install: clang-17
          - toolset: clang
            compiler: clang++-18
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:24.04
            os: ubuntu-latest
            install: clang-18
          - toolset: clang
            compiler: clang++-19
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:24.04
            os: ubuntu-latest
            install: clang-19
          - toolset: clang
            compiler: clang++-20
            cxxstd: "11,14,17,20,23,2c"
            container: ubuntu:25.04
            os: ubuntu-latest
            install: clang-20
          - toolset: clang
            cxxstd: "11,14,17,20,2b"
            os: macos-14
          - toolset: clang
            cxxstd: "11,14,17,20,2b"
            os: macos-15
          - toolset: clang
            cxxstd: "11,14,17,20,2b"
            os: macos-26

    name: ${{matrix.platform.os}} / ${{matrix.platform.compiler || matrix.platform.toolset}}${{matrix.config.name && format(' / {0}', matrix.config.name) || ''}}

    runs-on: ${{matrix.platform.os}}

    container:
      image: ${{matrix.platform.container}}
      volumes:
        - /node20217:/node20217:rw,rshared
        - ${{ startsWith(matrix.platform.container, 'ubuntu:1') && '/node20217:/__e/node20:ro,rshared' || ' ' }}

    defaults:
      run:
        shell: bash

    steps:
      - name: Setup container environment
        if: matrix.platform.container
        run: |
          apt-get update
          apt-get -y install sudo python3 git g++ curl xz-utils

      - name: Install nodejs20glibc2.17
        if: ${{ startsWith( matrix.platform.container, 'ubuntu:1' ) }}
        run: |
          curl -LO https://archives.boost.io/misc/node/node-v20.9.0-linux-x64-glibc-217.tar.xz
          tar -xf node-v20.9.0-linux-x64-glibc-217.tar.xz --strip-components 1 -C /node20217
          ldd /__e/node20/bin/node

      - uses: actions/checkout@v4

      - name: Install packages
        if: matrix.platform.install
        run: |
          sudo apt-get update
          sudo apt-get -y install ${{matrix.platform.install}}

      - name: Setup Boost
        run: |
          echo GITHUB_REPOSITORY: $GITHUB_REPOSITORY
          LIBRARY=${GITHUB_REPOSITORY#*/}
          echo LIBRARY: $LIBRARY
          echo "LIBRARY=$LIBRARY" >> $GITHUB_ENV
          echo GITHUB_BASE_REF: $GITHUB_BASE_REF
          echo GITHUB_REF: $GITHUB_REF
          REF=${GITHUB_BASE_REF:-$GITHUB_REF}
          REF=${REF#refs/heads/}
          echo REF: $REF
          BOOST_BRANCH=develop && [ "$REF" == "master" ] && BOOST_BRANCH=master || true
          echo BOOST_BRANCH: $BOOST_BRANCH
          cd ..
          git clone -b $BOOST_BRANCH --depth 1 https://github.com/boostorg/boost.git boost-root
          cd boost-root
          cp -r $GITHUB_WORKSPACE/* libs/$LIBRARY
          git submodule update --init tools/boostdep
          python3 tools/boostdep/depinst/depinst.py --git_args "--jobs 3" $LIBRARY
          ./bootstrap.sh
          ./b2 -d0 headers

      - name: Create user-config.jam
        if: matrix.platform.compiler
        run: |
          echo "using ${{matrix.platform.toolset}} : : ${{matrix.platform.compiler}} ;" > ~/user-config.jam

      - name: Generate headers
        run: |
          cd ../boost-root/libs/leaf
          python3 scripts/generate_single_header.py -i include/boost/leaf/detail/all.hpp -p include -o test/leaf.hpp boost/leaf
          python3 scripts/download_nlohmann_json.py

      - name: Run tests
        run: |
          cd ../boost-root
          ./b2 -j3 libs/$LIBRARY/test toolset=${{matrix.platform.toolset}} cxxstd=${{matrix.platform.cxxstd}} ${ADDRMD:+address-model=$ADDRMD} link=shared,static variant=${{matrix.config.variant}}
          ./b2 -j3 libs/$LIBRARY/test toolset=${{matrix.platform.toolset}} cxxstd=${{matrix.platform.cxxstd}} ${ADDRMD:+address-model=$ADDRMD} link=shared,static variant=${{matrix.config.variant}} exception-handling=off rtti=off

  windows:
    strategy:
      fail-fast: false
      matrix:
        config:
          - variant: "debug,release"
          - name: No capture
            variant: "leaf_debug_capture0,leaf_release_capture0"
          - name: No diagnostics
            variant: "leaf_debug_diag0,leaf_release_diag0"
          - name: Embedded
            variant: "leaf_debug_embedded,leaf_release_embedded"
          - name: Single header
            variant: "leaf_debug_single_header,leaf_release_single_header"
        platform:
          - toolset: msvc-14.3
            cxxstd: "14,17,20,latest"
            addrmd: 32,64
            os: windows-2022
          - toolset: clang-win
            cxxstd: "14,17,20,latest"
            addrmd: 64
            os: windows-2022
          - toolset: gcc
            cxxstd: "11,14,17,2a"
            addrmd: 64
            os: windows-2022

    name: ${{matrix.platform.os}} / ${{matrix.platform.compiler || matrix.platform.toolset}}${{matrix.config.name && format(' / {0}', matrix.config.name) || ''}}

    runs-on: ${{matrix.platform.os}}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Boost
        shell: cmd
        run: |
          echo GITHUB_REPOSITORY: %GITHUB_REPOSITORY%
          for /f %%i in ("%GITHUB_REPOSITORY%") do set LIBRARY=%%~nxi
          echo LIBRARY: %LIBRARY%
          echo LIBRARY=%LIBRARY%>>%GITHUB_ENV%
          echo GITHUB_BASE_REF: %GITHUB_BASE_REF%
          echo GITHUB_REF: %GITHUB_REF%
          if "%GITHUB_BASE_REF%" == "" set GITHUB_BASE_REF=%GITHUB_REF%
          set BOOST_BRANCH=develop
          for /f %%i in ("%GITHUB_BASE_REF%") do if "%%~nxi" == "master" set BOOST_BRANCH=master
          echo BOOST_BRANCH: %BOOST_BRANCH%
          cd ..
          git clone -b %BOOST_BRANCH% --depth 1 https://github.com/boostorg/boost.git boost-root
          cd boost-root
          xcopy /s /e /q %GITHUB_WORKSPACE% libs\%LIBRARY%\
          git submodule update --init tools/boostdep
          python tools/boostdep/depinst/depinst.py --git_args "--jobs 3" %LIBRARY%
          cmd /c bootstrap
          b2 -d0 headers

      - name: Generate headers
        run: |
          cd ../boost-root/libs/leaf
          python3 scripts/generate_single_header.py -i include/boost/leaf/detail/all.hpp -p include -o test/leaf.hpp boost/leaf
          python3 scripts/download_nlohmann_json.py

      - name: Run tests
        shell: cmd
        run: |
          cd ../boost-root
          b2 -j3 --abbreviate-paths libs/%LIBRARY%/test toolset=${{matrix.platform.toolset}} cxxstd=${{matrix.platform.cxxstd}} address-model=${{matrix.platform.addrmd}} link=shared,static variant=${{matrix.config.variant}}
          b2 -j3 --abbreviate-paths libs/%LIBRARY%/test toolset=${{matrix.platform.toolset}} cxxstd=${{matrix.platform.cxxstd}} address-model=${{matrix.platform.addrmd}} link=shared,static variant=${{matrix.config.variant}} exception-handling=off rtti=off
