name: documentation

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install packages
        run: |
          sudo gem install asciidoctor asciidoctor-pdf rouge

      - name: Setup Boost
        run: |
          REF=${GITHUB_BASE_REF:-$GITHUB_REF}
          cd ..
          git clone --depth 1 https://github.com/boostorg/boost.git boost-root
          cd boost-root
          git submodule update --init tools/build
          git submodule update --init libs/config
          git submodule update --init libs/leaf
          cd libs/leaf
          git checkout master
          git pull
          cd ../..
          ./bootstrap.sh

      - name: Create user-config.jam
        run: |
          echo "using asciidoctor ;" > ~/user-config.jam

      - name: Build documentation
        run: |
          cd ../boost-root/libs/leaf/doc
          ../../../b2

      - name: Generate headers
        run: |
          cd ../boost-root/libs/leaf
          python gen/generate_single_header.py -i include/boost/leaf/detail/all.hpp -p include -o doc/html/leaf.hpp boost/leaf

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: ../boost-root/libs/leaf/doc/html
